/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*------------------TOP BAR STYLES ------------------*/
.firefox .bx-wrapper .bx-loading{
    display: none;
}
header p.inline_address {
    margin: 0;
}
header ul.storename {
    margin: 0;
}
.fl-page-bar-text .storename .inline_address a:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
}
.firefox .fl-builder-content .bx-wrapper .bx-viewport .fl-content-slider-wrapper .fl-slide{
    visibility: visible;
}
ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}
.product-box .responsive-button-wrapper-default > a{
	color: #fff!important;
}	
.product-swatch .button-wrapper-default > a{
	color: #fff!important;
}
.phone.retailer span:before{
  content: "\f1f8";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 5px;
  font-size: 16px;
  vertical-align: middle;
}
footer .phone.retailer span:before{
  content: "" !important;
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}


ul#topbar li a:hover {
  color: #111111;
}

.product-grid .fl-button{
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}
.product-grid .fl-button span{
  color: #ffffff !important;
}
.product-grid .fl-button:hover{
  background-color: transparent !important;
}
.product-grid .fl-button:hover span{
  color: #a4774f !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select{
  width: 60px!important;
  max-width: 60px!important;
}

.gform_wrapper .gfield_time_hour i{
  margin-top: -2px!important;
}

input#gform_submit_button_3,
.product-grid .fl-button{
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}
input#gform_submit_button_3,
.product-grid .fl-button span{
  color: #ffffff !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover{
  background-color: transparent !important;
}

input#gform_submit_button_3:hover,
.product-grid .fl-button:hover span{
  color: #a4774f !important;
}

form select{
  padding: 6px 0px !important;
}


.gform_wrapper ul.gfield_checkbox li input[type=checkbox],.gform_wrapper ul.gfield_radio li input[type=radio]{
  margin-top: 0px!important;
  vertical-align: top!important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label, .uabb-gf-style .gform_wrapper .gfield_radio li label{
  vertical-align: top;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
  width: 100%;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
  padding-right: 15px;
}
.fl-slide-text > p {
    margin: 0px!important;
    padding: 0px!important;
}
.fl-slide-text > .fl-builder-content  {
    margin: 0px!important;
}


ul.social-icons li {
  margin: 0 10px 0 0 !important;
}

footer#djcustom-footer a:hover {
  text-decoration: underline;
}

a.responsive-menu-item-link {
  color: #fff;
}


a.responsive-menu-item-link {
  color: #fff;
}


.gform_footer.top_label input.gform_button.button {
  background: #82857b !important;
  color: #fff !important;
  padding: 12px 24px;
  border-radius: 0 !important;
  border: 0 !important;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
}


.gform_footer.top_label input.gform_button.button:hover {
  background: #a4774f !important;
}
div#fl-main-content .store-container .address a:hover p, div#fl-main-content ul.storename .phone a:hover span {
  color: #a4774f !important;
}
/*------------------END TOP BAR STYLES ------------------*/





#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #000000;
  border-top: 1px solid #fff;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #a4774f !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder>button.mgbutton {
  background-color: #82857b  !important;
  color: #fff !important;
  border-radius: 0px!important;
  font-family: "Montserrat",sans-serif!important;
  font-weight: 500!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: none!important;
}
.moove-gdpr-button-holder>button.mgbutton:hover {
  background: #a4774f  !important;
  color: #fff!important;
  text-transform: uppercase!important;
  border-color: #a4774f !important;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #82857b !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #fff !important;
  background-color: #a4774f !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #a4774f !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #82857b !important;
  color: #fff!important;  
  border: 0px!important;
  border-radius: 0px!important;
  font-family: "Montserrat",sans-serif!important;
  font-weight: 500!important;
  text-transform: uppercase!important;  
    
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #a4774f  !important;
  color: #fff !important;
  border: 0px!important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #a4774f !important;
}

@media (max-width:1024px) {
  ul#topbar li a{
    font-size: 11px;
    padding: 5px;
  }

  .fl-page-nav .navbar-nav li>a{
      padding: 15px 8px;
      font-size: 13px;
  }
}

@media (max-width:992px) {
  ul#topbar > li:last-child{
    display: block!important;
  }
  .social-icons-container{
    text-align: center;
  }
  .fl-button span.fl-button-text{
    color: #fff;
  }

  .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]{
    width: auto!important;
    color: #fff;
  }
}
@media(max-width:768px){
ul#menu-copyright-bar-menu{
  margin-bottom: 20px !important;
}
.product-box .responsive-button-wrapper-default > a{
  color: #fff!important;
}
	/ Slider height issue on mobile /
	.fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 500px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 500px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
		max-height: 500px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
}

@media(max-width:767px){
  .fl-page-bar .fl-page-bar-row .text-left{
    width: 60%;
    float: left;
  }

  .fl-page-bar .fl-page-bar-row .text-right{
    width: 40%;
    float: right;
  }

  .fl-page-bar .fl-page-bar-row .text-left *{
    text-align: left!important;
  }

  ul#topbar > li:last-child{
    float: right!important;
  }

 .fl-module-heading h1.fl-heading{
    line-height: 48px!important;
  }
}

@media(max-width:450px){
  .fl-page-bar .fl-page-bar-row .text-left{
    width: 66%;
    float: left;
    padding: 0px;
  }

  .fl-page-bar .fl-page-bar-row .text-right{
    width: 34%;
    float: right;
    padding: 0px;
  }
  .fl-col-group .boxes-on-mobile-full-width{
    width: 100%!important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width{
    width: 100%!important;
  }
 .product-box .responsive-button-wrapper-default > a{
  color: #fff!important;
}
}